.SheetContainer {

}

.SheetContent {
    display: flex;
    flex-direction: column;
}

.Row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ColumnHeaders {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.RowHeaders {

}